
/*-------NORMALIZER-------*/

*{
	margin: 0;
	padding: 0;
	border: none;
}

body{
	font-family: 'Open Sans', sans-serif;
	content: #444;
}

header, nav, main, footer, section, figcaption, aside, p {
	display: block;
}


/*--------RESET-----------*/
a{
	text-decoration: none;
	color: #444;
	transition: color 0.4s ease-out 0s, background 0.4s ease-in 0s;
}

ul, ol {
	list-style-type: none;
}

.clear:after{
	content: " ";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}


/*-------END NORMALIZER-------*/



/*-----------------MULTIPAGE CLASSES--------------*/

.wrapper{
	margin: 0 auto;
	width: 960px;
	position: relative;
	min-height: 50px;
}

.boldText{
	font-weight: 600;
}

.bold{
	font-weight: bold;
}

.colorLink{
	color: #1aabd1;
}

	.colorLink:hover{
		background-color: #efefef;
	}

.button{
	border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: lighter;
    padding: 5px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.line{
	width: 95%;
	height: 1px;
	background-color: #ccc;
	margin: 30px auto;
}

.greyTriangle{
	position: absolute;
}

#backToTop{
	content: " ";
	height: 0;
}

.backToTopText a{
	color: #1aabd1;
	text-transform: uppercase;
	margin: 0;
	display: block;
	font-size: 14px;
}

.mobilePageSwitch{
	display: none;
}

/*SECONDARY PAGE WRAPPER/NAV*/
.secondaryWrapper{
	margin: 0 auto;
	width: 80%;
}

	.secondaryWrapper nav{
	    border-bottom: 1px solid #ccc;
	    margin: 40px 0;
	}

		.secondaryWrapper nav ul li{
			float: left;
		}

			.secondaryWrapper nav ul li a{
				display: block;
				text-align: center;
				padding: 0 18px;
				font-size: 14px;
			}

			.secondaryWrapper nav ul li a:hover{
				color: #ccc;
			}

	.activeSecondary{
		background-color: #e53131;
		color: white;
	}

/*SECONDARY PAGE GENERAL*/
.secondaryPage main {
    padding-bottom: 40px;
    position: relative;
}

.secondaryPage main .secondaryWrapper{
	background-color: rgba(255, 255, 255, 0.5);
}

.secondaryPage h2{
    font-size: 32px;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.secondaryPage h3, .secondaryPage h3 a{
	color: #e53131;
	font-weight: lighter;
	font-size: 28px;
}

.secondaryPage h4 {
    font-size: 22px;
    margin: 15px 0 2px;
}

.secondaryPage p{
	line-height:180%;
	font-size: 18px;
	margin: 0 0 20px;
}

.secondaryPageSubSections h3 > img{
	bottom: -3px;
    float: none;
    left: 10px;
    margin: 0;
    position: relative;
}

.secondaryPageSubSections{
	margin: 10px 0 40px;
}

	.secondaryPageSubSections img{
		float: right;
		margin: 0 0 10px 15px;
	}

.triangleImages{
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
	padding-top: 10px;
}

	.triangleImages img{
		display: block;
		margin: 0 auto;
		float: none;
		border: 8px solid #ccc;
		width: 90%;
		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	}

.floatRightText{
	float: right;
	width: 70%;
}

.heroImage{
	height: 200px;
	background-size: cover;
	background-position: center;
}

.ulList {
	margin-bottom: 30px;
}

	.ulList li{
		padding: 5px 0;
		font-size: 18px;
		text-indent: -11px;
		margin-bottom: 10px;
	}

	.ulList li::before {
	    content: "\f105";
	    font-family: FontAwesome;
	    margin-right: 5px;
	    color: #e53131;
	}

.secondaryPageSubSections .noMargin{
	margin: 0px;
	font-weight: bold;
}

.listItemPadding{
	padding-left: 20px;
}

/*FONT AWESOME*/
.fa{
	color: #e53131;
	padding-right: 5px;
}

.fa-chevron-up{
	padding-left: 5px;
	color: #1aabd1;
}

.fa-arrow-up{
	color: black;
	background: rgba(204, 204, 204, 0.8);
}



/*---------HEADER-----------*/
header{
    background: #fdfdfd none repeat scroll 0 0;
    box-shadow: 0 0 7px #b5b5b5;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

#titleAndBurger{
	width: 30%;
	float: left;	
}

	h1 a{
		display: block;
	    font-family: "Rye",cursive;
	    font-size: 68%;
	    padding: 15px 0;
	}

	#titleAndBurger .button, #headerIcons, #headerLogo, #titleAndBurger .signUpButton{
		display: none;
	}

header nav{
	width: 70%;
	float: right;
}

	#mainNav{
		padding-top: 5px;
	}

		header nav ul li{
			float: left;
			width: 20%;
			position: relative;
		}

			header nav ul li a {
				display: block;
			    font-size: 16px;
			    padding: 5px 26px 7px;
			    text-align: center;
			    font-weight: 300;
			}

	header nav ul li ul {
		position: absolute;
		background-color: rgba(52, 58, 65, 0.9);
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
		display: none; 
		top: 100%;
	}

		header nav ul li ul li{
			float: left;
			width: 100%;
			border-bottom: 1px solid rgba(204, 204, 204, 0.8);
		}

			header nav ul li ul li:first-child{
				border-top: 5px solid #e53131;
			}

			header nav ul li ul li a{
				padding: 5px;
				text-align: left;
				font-size: 14px;
				color: white;
			}

				header nav ul li:hover ul{
					display: block;
				}

				header nav ul li ul li:hover a{
					background-color: rgba(255, 255, 255, 0.9);
					color: rgba(52, 58, 65, 1.0)
				}

.signUpButton{
	border: 1px solid #e53131;
    border-radius: 8px;
    color: #e53131;
    margin: 8px auto;
    padding: 6px;
    width: 63%;
}

	.signUpButton:hover {
		background-color: #e53131;
		color: white;
	}

.active{
	border-bottom: 5px solid #e53131;
}



/*------------------------HOME MAIN----------------------*/

#home main{
	background: url(images/homeBackground.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 58px;
}

#homeMainText{
	width: 60%;
	float: left;
	color: white;
}

	#home h2{
		font-size: 40px;
		margin: 70px 0 10px;
		line-height: 115%;
	}

	#home .line {
	    background: white none repeat scroll 0 0;
	    margin: 20px 0;
	    width: 65%;
	}

	#homeMainText p{
	    font-size: 28px;
	    font-weight: 600;
	    line-height: 125%;
	    margin: 10px 0 30px;
	}

	#homeMainText .button{
	    font-size: 21px;
	    padding: 8px;
	    width: 26%;
	}

		#homeMainText .button:hover{
			background-color: white;
			color: #444;
		}

#homeEvents{
	width: 40%;
	float: right;
	min-height: 100px;
}

	#homeEvents a:hover{
		color: #a8a8a8;
	}

	#home aside{
		background-color: rgba(255, 255, 255, 0.4);
	    border-radius: 25px;
	    margin: 65px auto;
	    min-height: 100px;
	    width: 95%;
	    padding-bottom: 15px;
	}

		#homeEvents h3 a{
			text-align: center;
			display: block;
			text-transform: uppercase;
			font-weight: lighter;
			font-size: 22px;
			background-color: white;
			border-top-left-radius: 20px;
	    	border-top-right-radius: 20px;
	    }

		.homeIndEvents{
			margin: 8px 0;
		}

		.dates{
			position: relative;
			float: left;
			width: 30%;
			background-color: #e53131;
			color: white;
		}

			.dates p{
			    font-size: 62px;
			    text-align: center;
			    font-weight: lighter;
			    line-height: 95%;
			    padding-bottom: 10px;
			    letter-spacing: -3px;
			}

				.dates p:first-child{
					margin-top: 10px;
					padding-bottom: 0;
					font-weight: 600;
					font-size: 36px;
					letter-spacing: 0px;
				}

		.dates img{
			position: absolute;
			top: 20%;
			right: -16%;
		}

		.homeEventInfo{
			float: right;
		    padding: 10px;
		    width: 60%;
		}

		.blueEventsBackground{
			background-color: rgba(164, 226, 232, 0.5);
		}

		.whiteEventsBackground{
			background-color: rgba(255, 255, 255, 0.7);
		}

#opacityDiv{
	padding-bottom: 35px;
	position: relative;
	min-height: 150px;
	background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
	margin-top: 100px;
}

	#icons{
		position: absolute;
		width: 100%;
		top: -243%;
	}

	.homeIconsSection{
		float: left;
		min-height: 100px;
		width: 33.3%;
		text-align: center;
	}

		.homeIconsSection img{
			display: block;
			margin: 10px auto 0;
			position: relative;
			z-index: 2;
		}

			#truckIcon{
				margin: 21px auto 0;
			}

			#offFarmIcon{
				margin: 6px auto 0;
			}

		.homeIconsSection p{
			position: relative;
			z-index: 2;
		}

	.homeIconNonHover{
	    border-radius: 174px;
	    display: block;
	    margin: 0 auto;
	    min-height: 150px;
	    padding: 33px;
	    width: 60%;
	    position: relative;
	}

		.homeIconNonHover p{
			font-size: 22px;
		    font-weight: 600;
		    margin: 5px 0;
		}

	.weirdShapeOpacity {
		background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
	    border-radius: 143px 143px 0 0;
	    left: 0;
	    margin: 0 auto;
	    min-height: 121px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 100%;
	}

	.homeIconHover{
		border-radius: 174px;
	    margin: 0 auto;
	    min-height: 150px;
	    padding: 33px;
	    width: 68%;
	    background: #24afb2;
		display: none;
		color: white;
	}

		.homeIconHover p:first-of-type{
			padding: 10px 0 0;
			font-size: 20px;
			font-weight: 600;
		}

		.homeIconsSection:hover .homeIconNonHover{
			display: none;
		}

		.homeIconsSection:hover .homeIconHover{
			display: block;
		}

.homeIconsSection .button{
    margin: 14px auto 0;
    width: 45%;
}

	.homeIconsSection .button:hover{
		background: white;
		color: #24afb2;
	}



/*----------------------FOOTER------------------------*/
footer{
	min-height: 50px;
	background-color: #343a41;
}

.footerColumns{
	width: 25%;
	float: left;
	margin: 18px 0;
}

	.footerColumns > ul{
	    display: block;
	    margin: 0 auto;
	    width: 95%;
	}

	.footerColumns > a >img {
	    display: block;
	    margin: 0 auto;
	}

	.footerColumns ul li a {
		color: #6d7277;
		font-size: 14px;
		transition: none;
	}

	.footerColumns ul .footerTitle{
		color: white;
	}

	.footerColumns ul li:hover a{
		color: white;
	}

.barnHoursFooter:hover li a{
	color: white;
}

footer .footerColumns .socialIcons {
    margin: 5px auto;
}

	.socialIcons li{
		float: left;
		width: 15%;
	}

	.sprite {
		display: block;
		border-radius: 5px;
		width: 25px;
		height: 25px;
		background-position: 0 0;
	}

		.sprite:hover{
			background-position: 0 -25px;
		}

	.fbSprite{
		background-image: url(images/fbSprite.jpg);
	}

	.twitterSprite{
		background-image: url(images/twitterSprite.jpg);
	}

	.instaSprite{
		background-image: url(images/instaSprite.jpg);
	}

.footerColumns ul .copyrightText, .footerColumns ul .copyrightText a{
	font-size: 10px;
}

.copyrightWhite {
	color: white;
}



/*------------------------------WHO WE ARE-----------------------------------*/
.whoWeAre .secondaryWrapper nav ul li, .contact .secondaryWrapper nav ul li, .theFarm .secondaryWrapper nav ul li, .thePeople .secondaryWrapper nav ul li, .partners .secondaryWrapper nav ul li, .jobs .secondaryWrapper nav ul li, .faq .secondaryWrapper nav ul li{
	width: 16.5%;
}

/*----------------THE FARM------------*/
.theFarm .heroImage{
	background-image: url(images/farmHero.jpg);
}


/*--------------THE PEOPLE----------------*/
.thePeople .heroImage, .localOrganizations .heroImage{
	background-image: url(images/peopleHero.jpg);
}

.thePeople .boldText{
    line-height: 100%;
    margin: 0 0 10px;
}


/*----------------PARTNERS--------------------*/
.partners .heroImage{
	background-image: url(images/partnersHero.jpg);
}


/*----------------CONTACT--------------------*/
.contact main .wrapper .heroImage{
	background-image: url(images/contactHero.jpg);
}

#contactText{
	float: left;
	width: 38%;
}

	.contactInfo{
		margin: 0 0 40px;
	}

#googleMap{
	float: right;
	width: 60%;
}


/*-------------------EMPLOYMENT----------------*/
.jobs .heroImage, .events .heroImage{
	background-image: url(images/jobsHero.jpg);
}


/*-------------------  FAQ  --------------------*/
.faq .heroImage{
	background-image: url(images/faqHero.jpg);
}

.faqLists{
	margin-bottom: 20px;
}

	.faqLists li{
		padding: 5px 10px 5px 0;
	}





/*------------------------------WHAT WE OFFER-----------------------------------*/
.onFarmShare .heroImage, .farmResources .heroImage{
	background-image: url(images/heroImage2.png);

}

/*--------------------ON-FARM SHARE---------------*/
.whatWeOffer main nav ul li, .onFarmShare main nav ul li, .offFarmShare main nav ul li, .winterShare main nav ul li, .ourCrops main nav ul li{
	width: 25%;
}

/*-----------------OFF FARM SHARE-----------------*/
.offFarmShare .heroImage{
	background-image: url(images/offFarmHero.jpg);
}

.offFarmShare h4, .offFarmShare .floatRightText p, .offFarmShare h4 a, .offFarmShare .floatRightText ul{
		padding-left: 20px;
	}

/*-----------------WINTER STORAGE SHARE--------*/
.winterShare .heroImage{
	background-image: url(images/winterShareHero.jpg);
}

/*-----------------OUR CROPS-------------------*/
.ourCrops .heroImage{
	background-image: url(images/cropsHeroImage.jpg);
}

.cropsList ul li {
	float: left;
	width: 25%;
	margin: 15px 0;
}

	.cropsNoneHover{
		display: block;
	    margin: 0 auto;
	    width: 95%;
	}

	.cropsList ul li a img, #cropHoverMain > img{
		border-radius: 120px;
		display: block;	
		margin: 0 auto;
	}

.cropsHover{
	display: none;
	margin: 0 auto;
	width: 95%;
	border-radius: 125px;
	position: relative;
}

	.cropsHover h5{
		bottom: 0;
	    color: white;
	    font-size: 24px;
	    font-weight: lighter;
	    height: 50%;
	    left: 0;
	    margin: auto;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    text-transform: uppercase;
	    top: 7%;
	    width: 85%;
	}

.cropsList ul li:hover .cropsNoneHover{
	display: none;
}

.cropsList ul li:hover .cropsHover{
	display: block;
}

.cropsList .button{
	border: 1px solid white;
    border-radius: 10px;
    bottom: 35px;
    color: white;
    font-weight: lighter;
    left: 0;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    width: 60%;
}

.cropsList .button:hover{
	background-color: white;
	color: #343a41;
}





/*--------------------------------------------OUR RESOURCES PAGE---------------------------*/
.ourResources main nav ul li, .producers main nav ul li, .localOrganizations main nav ul li, .farmResources main nav ul li{
	width: 33%;
}

/*---------------PRODUCERS----------------*/
.producers .heroImage{
	background-image: url(images/producersHero.jpg);
}

/*--------------ORGANIZATIONS---------------*/

/*--------------FARM RESOURCES---------------*/




/*----------------------------------STAY IN TOUCH---------------------------*/
.stayInTouch main nav ul li, .events main nav ul li, .newsletter main nav ul li{
	width: 50%;
}

/*---------------EVENTS----------------------*/
.events main nav ul, .newsletter main nav ul {
	width: 50%;
	margin:  0 auto;
}

.events .eventPageDate .mobileEventsTriangle, .events .pastEventPageDate .mobileEventsTriangle{
	display: none;
}

.eventPageDate{
	width: 30%;
	float: left;
	background-color: #e53131;
	min-height: 50px;
	position: relative;
	padding: 25px 0;
	margin-top: 10px;
}

	.secondaryPage .eventPageDate p{
		color: white;
	    font-size: 60px;
	    font-weight: 600;
	    line-height: 100%;
	    margin: 0;
	    text-align: center;
	}

		.eventPageDate p:last-of-type{
			font-size: 115px;
		    font-weight: lighter;
		    letter-spacing: -6px;
		}

	.eventPageDate img{
		position: absolute;
		top: 35%;
		right: -30px;
	}

.events .floatRightText p, .events .floatRightText h4{
		padding-left: 50px;
	}

.pastEventPageDate{
	float: left;
	width: 25%;
	min-height: 30px;
	border: 1px solid #ccc;
	position: relative;
	color: black;
	font-size: 60px;
	text-align: center;
	font-size: 40px;
	margin-top: 15px; 
	background-color: white;
	padding: 20px 0;
}	

	.secondaryPage .pastEventPageDate p{
		color: #ccc;
	    font-size: 40px;
	    font-weight: lighter;
	    line-height: 100%;
	    text-align: center;
	    margin: 0;
	}	

		.pastEventPageDate p:last-of-type{
			font-size: 72px;
		}

	.pastEventPageDate span{
		font-size: 20px;
	}

	.pastEventPageDate img{
		position: absolute;
	    right: -15%;
	    top: 30%;
	    z-index: -1;
	}

/*-------------NEWSLETTER-----------*/
.newsletter .heroImage{
	background-image: url(images/newsletterHero.jpg);
}

#newsletterDrop h2{
	float: left;
	width: 24%;
}

#newsletterDrop .selectParent{
	float: left;
	width: 76%;
	padding-top: 15px;
}	

.newsletterUL{
	float: left;
	width: 47%;
}
	
	.newsletterUL li{
		margin-bottom: 15px;
		border-bottom: 1px solid #eeeeee;
	}

	.newsletterUL li a{
		color: #e53131;
	}

.selectParent{
	overflow: hidden;
}

	.selectParent select{
		-moz-appearance: none;
	    background: transparent url("images/dropDownArrow.png") no-repeat scroll 152px center;
	    border: 1px solid #eeeeee;
	    border-radius: 5px;
	    float: right;
	    font-family: "Open Sans",sans-serif;
	    font-size: 16px;
	    padding: 1px 2px 4px 0;
	    width: 200px;
	}

.newsletterUL{
	counter-reset: my-counter 0;
}

.newsletterUL li a{
	display: block;
	font-size: 18px;
	counter-increment: my-counter 1;
	color: #444;
}

.newsletterUL li a::before{
	content: counter(my-counter);
	width: 10px;
	min-height: 10px;
	margin: 0 5px 0 0;
    text-indent: -10000px;
    padding: 0 35px;
    color: white;
}

.newsletterUL li:nth-of-type(1) a::before{
	background-color: #1aabd1;
}

	.newsletterUL li:nth-of-type(1):hover{
		background-color: #298AA3;
	}

		.newsletterUL li:nth-of-type(1):hover a, .newsletterUL li:nth-of-type(2):hover a, .newsletterUL li:nth-of-type(3):hover a{
			color: white;
			transition: none;
		}


.newsletterUL li:nth-of-type(2) a::before{
	background-color: #e53131;
}

	.newsletterUL li:nth-of-type(2):hover{
		background-color: #B22626;
	}


.newsletterUL li:nth-of-type(3n) a::before{
	background-color: #e19513;
}

	.newsletterUL li:nth-of-type(3):hover{
		background-color: #bf7200;
	}

.secondNewsletterUL{
	counter-reset: my-counter 3;
	margin-left: 20px;
}

.secondNewsletterUL li a{
	counter-increment: my-counter 1;
}

.secondNewsletterUL li a::before{
	content: counter(my-counter 3);
}

#newsletterDate{
	margin-bottom: 15px;
}

.floatingUlList li{
	float: left;
	width: 33.3%;
}




/*------------------------------- SIGN UP ----------------------------*/
.signUpPage main{
}

#signUpForm ul li{
	margin: 20px 0;
	font-size: 16px;
	clear: both;
}

#signUpForm label{
	margin-right: 15px;
	padding: 0 6px 6px;
	color: #e53131;
	font-size: 20px;
    font-weight: lighter;
    float: left;
    width: 20%;
    text-align: right;
}

.radialOptions{
	margin-bottom: 40px;
	float: left;
	width: 65%;
	line-height: 165%;
}

input[type="radio"]{
	margin: 25px 5px 0 0;
}

input[type="radio"]:first-of-type{
	margin:0 5px 0 0;
}

input[type="text"]{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	width: 40%;
	float: left;
	margin-bottom: 20px;
	color: #ccc;
}

input[type="text"], label{
	font-size: 16px;
}

.signUp .heroImage{
	background-image: url(images/offFarmHero.jpg);
}

.signUp .wrapper .button{
	color: #e53131;
	border-color: #e53131;
	display: block;
	margin: 0 auto;
	width: 30%;
}

.signUp h2{
	margin-top: 40px;
}

.signUp header nav ul .active .activeSecondary {
	background-color: #e53131;
	color: white;
}


/*EXPERIMENTAL TRANSITIONS*/
.external:after{
	content: url(images/link.png);
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	display: inline-block;
    float: left;
    height: 220px;
    margin: 20px 5px;
    width: 30%;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-repeat: no-repeat;
	background-size: cover;
}

.ch-img-1 { 
	background-image: url(images/amaranth.jpg);
}

.ch-img-2 { 
	background-image: url(images/arugula.jpg);
}

.ch-img-3 { 
	background-image: url(images/basil.jpg);
}

.ch-img-4 { 
	background-image: url(images/beets.jpg);
}

.ch-img-5 { 
	background-image: url(images/bokChoy.jpg);
}

.ch-img-6 { 
	background-image: url(images/braisingMix.jpg);
}

.ch-img-7 { 
	background-image: url(images/broccoli.jpg);
}

.ch-img-8 { 
	background-image: url(images/brusselSprouts.jpg);
}

.ch-img-9 { 
	background-image: url(images/burdock.jpg);
}

.ch-img-10 { 
	background-image: url(images/cabbage.jpg);
}

.ch-img-11 { 
	background-image: url(images/cantaloupe.jpg);
}

.ch-img-12 { 
	background-image: url(images/carrots.jpg);
}

.ch-img-13 { 
	background-image: url(images/cauliflower.jpg);
}

.ch-img-14 { 
	background-image: url(images/celeriac.jpg);
}

.ch-img-15 { 
	background-image: url(images/celery.jpg);
}

.ch-img-16 { 
	background-image: url(images/chard.jpg);
}

.ch-img-17 { 
	background-image: url(images/cilantro.jpg);
}

.ch-img-18 { 
	background-image: url(images/collards.jpg);
}

.ch-img-19 { 
	background-image: url(images/cress.jpg);
}

.ch-img-20 { 
	background-image: url(images/cucumbers.jpg);
}

.ch-img-21 { 
	background-image: url(images/daikon.jpg);
}

.ch-img-22 { 
	background-image: url(images/dandelion.jpg);
}

.ch-info {
	background: rgba(52, 58, 65, 0.8) none repeat scroll 0 0;
    border-radius: 50%;
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	padding: 45px 0 24px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	opacity: 0;
	width: 50%;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	background-color: white;
	color: #343a41;
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}

/*-------------------------------MEDIA QUIRIES---------------------------*/

@media screen and (max-width: 1950px) {
.secondaryPage main {
    background-attachment: fixed;
    background-image: url("images/stalkBackground.png");
    background-position: 84% bottom;
    background-repeat: no-repeat;
}

}

@media screen and (max-width: 1760px) {
.secondaryPage main {
    background-position: 89% bottom;
}

}

@media screen and (max-width: 1560px) {
.secondaryPage main {
    background-position: 93% bottom;
}

}



@media screen and (max-width: 1450px) {
.secondaryPage main {
    background-position: 97% bottom;
}

}

@media screen and (max-width: 1360px) {
.secondaryPage main {
    background-position: 100% bottom;
}

}


@media screen and (max-width: 1310px) {
.secondaryPage main {
    background-image: none;
}

}



@media screen and (max-width: 1100px) {
 /*body, nav {background-color: red}*/

/*GENERAL*/
body, header, footer, main {
	width: 100%;
	max-width: 1100px;
}

.wrapper{
	width: 95%;
}

/*HEADER*/
header nav {
    float: right;
    width: 69%;
}

/*HOME*/

.homeIconHover {
    min-height: 150px;
    padding: 22px;
    width: 70%;
}

/*EVENTS*/
.pastEventPageDate img {
    right: -15%;
    top: 30%;
}


} /*END @media screen and (max-width: 1100px)*/



@media screen and (max-width: 950px) {
/*h1 {background-color: #cda}*/

/*HOME*/
.homeIconHover{
	width: 74%;
}


} /*END @media screen and (max-width: 950px)*/




@media screen and (max-width: 900px) {
/*h1 {background-color: #cda}
*/

/*GENERAL*/
*{
	box-sizing: border-box;
}

.heroImage, header, footer, .wrapper{
	width: 100%;
	max-width: 900px;
}

nav li .signUpButton{
	display: none;
}

/*HEADER*/

#titleAndBurger{
	float: none;
	width: 100%;
}
	
	#titleAndBurger h1{
		float: left;
		width: 70%;
	}

		h1 a {
		    text-align: right;
		    font-size: 90%;
    		padding: 5px 0;
		}

	#titleAndBurger > .signUpButton {
	    display: block;
	    float: right;
	    margin-right: 60px;
	    text-align: center;
	    width: 15%;
	}

header{
 	padding: 0 5px;
} 

header nav{
	float: none;
	width: 100%;
}

	header nav ul{
		width: 95%;
		margin: 0 auto;
		padding: 0;
	}

		header nav ul li{
			width: 25%;
		}

			header nav ul li a {
			    font-size: 16px;
			}

/*HOME*/
#home main .wrapper{
	padding: 0 30px;
} 

#home main {
    padding-top: 1px;
    margin-top: 0;
}

#homeMainText {
    float: none;
    width: 100%;
}

	#home h2 {
	    font-size: 34px;
	    margin: 120px 0 10px;
	    text-align: center;
	}

	#home .line {
	    margin: 10px auto;
	}

	#homeMainText p {
	    margin: 10px auto 30px;
	    text-align: center;
	    width: 89%;
	}

	#homeMainText .button {
	    margin: 0 auto;
	    width: 34%;
	}

	.homeIndEvents {
	    float: left;
	    margin: 8px 12px 8px 0;
	    width: 49%;
	}

#homeEvents {
    float: none;
    width: 100%;
}

	#homeEvents aside .homeIndEvents:nth-of-type(2){
		margin-right: 0;
	}

	#homeEvents aside .homeIndEvents:last-child{
		display: none;
	}

	.homeEventInfo {
	    padding: 6px;
	}

#opacityDiv {
    margin-top: 165px;
}

.homeIconNonHover {
    width: 78%;
}

.homeIconHover {
    width: 88%;
}

.weirdShapeOpacity {
    min-height: 122px;
}

#icons {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -243%;
    width: 100%;
}

.homeIconHover p {
    font-size: 14px;
}

.homeIconHover p:first-child {
    font-size: 18px;
}

/*SECONDARY PAGES*/

.secondaryWrapper{
	width: 75%;
}

	.fullLength{
		width: 88%;
	}

.secondaryWrapper nav ul li a{
	font-size: 15px;
}

.triangleImages img {
    width: 100%;
}


/*CROPS*/

.ch-grid li {
    height: 185px;
    width: 30%;
}

.ch-info h3 {
    padding: 45px 0 10px;
}



/*FOOTER*/
footer .wrapper{
	width: 95%;
	font-size: 14px;
}

.footerColumns a img{
	width: 65%;
}

.socialIcons li {
    width: 22%;
}

/*NEWSLETTER*/
.newsletterUL {
    float: none;
    width: 100%;
}

.newsletterUL li a {
    font-size: 18px;
}

.secondNewsletterUL {
    margin-left: 0px;
}

} /*END @media screen and (max-width: 950px)*/




@media screen and (max-width: 840px) {
 /* body{background-color: #cac}*/

/*HOME*/
.homeIconNonHover {
    width: 84%;
}

.homeIconHover {
    padding: 15px;
}

	.dates img {
	    right: -24%;
	    top: 20%;
	}

/*EVENT*/
.secondaryPage .eventPageDate p {
    font-size: 54px;
}

.eventPageDate p:last-of-type {
    font-size: 98px;
}

} /*END @media screen and (max-width: 840px)*/


@media screen and (max-width: 800px) {
/*  body{background-color: #acd}*/

/*HOME*/
#home h2 {
    font-size: 30px;
}

#homeMainText p {
    font-size: 22px;
}

/*SECONDARY PAGES*/
.secondaryWrapper{
	width: 80%;
}

	.fullLength{
		width: 92%;
	}

.secondaryWrapper nav ul li a{
	font-size: 14px;
}

.secondaryPage h3 {
    font-size: 25px;
}

.secondaryPage p {
    font-size: 16px;
}

.ulList li {
    font-size: 16px;
}

} /*END @media screen and (max-width: 800px)*/



@media screen and (max-width: 768px) {
/*body, h1 {background-color: green}*/

/*HOME*/
.homeIconNonHover {
    width: 96%;
}

.homeIconHover {
    width: 96%;
}

.ch-info h3 {
    padding: 40px 0 5px;
}

.ourCrops .ch-grid h3 {
    font-size: 20px;
}

.ch-info p {
    width: 70%;
}
} /*END @media screen and (max-width: 768px)*/



@media screen and (max-width: 736px) {
/*body, h1 {background-color: #dca}*/

/*GENERAL*/
header nav, .secondaryWrapper nav, #titleAndBurger nav{
	display: none;
}


/*HEADER*/
header {
    padding: 0;
}

#titleAndBurger{
	margin: 5px auto;
	float: none;
}

	#titleAndBurger .signUpButton{
		display: none;
	}

	#titleAndBurger .button, #headerIcons{
		display: block;
		width: 12%;
		float: left;
		margin: 1.5% auto 0;
		text-align: center;
	}

	#titleAndBurger .button{
		color: #e53131;
		border-color: #e53131;
		margin: 0.5% 0 0 10px;
		padding: 12px;
	}

	#headerIcons{
		margin: 1.5% 0 0;
	}

	.fa-map-marker{
		padding-right: 24px;
	}

#titleAndBurger h1{
	float: left;
	width: 74%;
}

	h1 a {
		padding: 10px 0;
		text-align: center;
	}

	#titleAndBurger .dropDownMobile:hover nav{
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		float: none;
		width: 100%;
		background-color: #343a41;
	}

		.dropDownMobile nav ul {
		    width: 100%;
		}

		#titleAndBurger .dropDownMobile:hover nav ul li{
			float: none;
			width: 100%;
			border-bottom: 1px solid #1aabd1;
		}

		.dropDownMobile nav ul li a {
		    display: block;
		    font-size: 16px;
		    font-weight: normal;
		    padding: 22px 26px;
		    text-align: left;
		    color: white;
		}

		#titleAndBurger .dropDownMobile:hover nav ul li a{
			text-align: left;
		}

		#titleAndBurger .dropDownMobile nav ul li:hover, .active{
			background-color: rgba(52, 58, 65, 0.3);
			color: white;
		}

/*HOME*/
#home aside{
	min-height: 178px;
}

.dates img {
    right: -22%;
}

#home main .wrapper{
	width: 100%;
	padding: 0;
}

#homeEvents h3 a {
    padding-left: 5px;
}

#home h2 {
    margin: 50px 0 10px;
    padding: 30px 2px 0;
}

#icons{
	position: relative;
}

	#icons .homeIconsSection a{
		background-color: #1aabd1;
	}

	#icons .homeIconsSection:nth-of-type(2) a{
		background-color: #e53131;
	}

	#icons .homeIconsSection:last-of-type a{
		background-color: #e19513;
	}

#truckIcon{
	margin: 24px auto 8px;
}

#opacityDiv{
	margin-top: 15px;
	background: transparent;
}

.weirdShapeOpacity{
	display: none;
}

.homeIconsSection{
	float: none;
	width: 90%;
	margin: 20px auto 50px;
}

.homeIconNonHover {
    display: none;
}

.homeIconHover {
    background: #24afb2 none repeat scroll 0 0;
    border-radius: 224px;
    color: white;
    display: block;
    margin: 0 auto;
    min-height: 340px;
    padding: 5% 4%;
    width: 55%;
}

	.homeIconHover img{
		margin: 10px auto 8px;
	}

	.homeIconHover p:nth-child(2) {
	    font-size: 32px;
	}

	.homeIconHover p {
	    font-size: 21px;
	    line-height: 102%;
	    padding: 6px 0;
	}

#homeEvents aside .homeIndEvents:nth-child(3){
	display: none;
}

#home aside {
    width: 62%;
}

.homeIndEvents {
    float: none;
    margin: 0;
    width: 100%;
}

/*SECONDARY PAGES*/

.secondaryPage h2 {
	margin-top: 15px;
}

.heroImage {
    height: 165px;
}

.whoWeAre .triangleImages, .contact .triangleImages, .theFarm .triangleImages, .thePeople .triangleImages, .partners .triangleImages, .jobs .triangleimages, .faq .triangleImages {
    float: right;
    width: 38%;
    margin: 0 0 10px 10px;
}

.whoWeAre .floatRightText, .contact .floatRightText, .theFarm .floatRightText, .thePeople .floatRightText, .partners .floatRightText, .jobs .floatRightText, .faq .floatRightText{
	float: none;
	width: 100%;
}

.secondaryPage h4 {
    font-size: 18px;
}

/*CONTACT*/
#contactText{
	float: none;
	width: 100%;
}

.contactInfo {
    float: left;
    width: 50%;
}

#googleMap{
	float: none;
	width: 100%;
}

/*EVENTS*/
.secondaryPage .eventPageDate p {
    font-size: 50px;
    line-height: 88%;
}

.eventPageDate p:last-of-type {
    font-size: 85px;
}

.pastEventPageDate {
    padding: 5px 0;
}

.pastEventPageDate {
    width: 25%;
}

.eventPageDate img {
    position: absolute;
    right: -26px;
    top: 32%;
}

/*CROPS*/
.ch-grid li {
    height: 254px;
    width: 47%;
}

.ourCrops .ch-grid h3 {
    font-size: 28px;
    padding: 50px 0 15px;
}

/*NEWSLETTER*/
#newsletterDrop .selectParent {
    padding-top: 22px;
    width: 76%;
}

.newsletterUL li a {
    font-size: 16px;
}

/*PAGE NEXT/PREVIOUS*/
.mobilePageSwitch{
	position: fixed;
	display: block;	
	width: 25%;
	background-color: #e53131;
	right: 0;
	bottom: 8%;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 8px 0;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	z-index: 10;
}

.mobilePageSwitch a{
	color: white;
	padding: 8px 5px;
}

.inactive{
	background-color: rgba(229, 49, 49, 0.5);
}

.inactive a{
	color: rgba(255, 255, 255, 0.5);
}

.mobilePageSwitch:nth-of-type(2){
	bottom: 0;
}

/*FOOTER*/
footer .wrapper .footerColumns:nth-child(2){
	display: none;
}

.footerColumns{
	width: 33%;
}

	.footerColumns ul{
		display: block;
		margin: 0 auto;
		width: 90%;
	}

.footerColumns a img{
	display: block;
	margin: 0 auto;
	width: 52%;
}

footer .footerColumns .socialIcons {
    float: left;
    margin: 0 auto 2px;
   }

   .socialIcons li{
   	width: 30%;
   }

}  /*END @media screen and (max-width: 736px)*/

	


@media screen and (max-width: 705px) {

/*HEADER*/
h1{
	width:74%;
}

.homeIconHover {
    width: 58%;
}

/*SECONDARY PAGES*/
.ulList {
    margin-left: 0px;
}

	.ulList li{
		text-indent: 0px;
	}

.floatingUlList li {
    width: 50%;
}

/*SIGN UP FORM*/
#signUpForm label {
    display: block;
    float: none;
    margin-right: 15px;
    text-align: left;
    width: 100%;
}

input[type="text"] {
    float: none;
    margin-bottom: 20px;
    width: 60%;
}

.radialOptions {
    float: none;
    width: 95%;
}

/*FOOTER*/
footer .wrapper {
    width: 100%;
}

.footerColumns a img {
    width: 57%;
}
} /*END @media screen and (max-width: 705px)*/




@media screen and (max-width: 675px) {
/*h1{background-color: #bca}*/

/*HEADER*/
#titleAndBurger h1 {
    float: left;
    width: 67%;
}

#titleAndBurger .button, #headerIcons {
    width: 15%;
}

/*CROPS*/
.cropsList ul li {
    width: 50%;
}

.cropsList ul li a img, #cropHoverMain > img {
    width: 90%;
}

.cropsHover h5{
    font-size: 22px;
    height: 45%;
}

.cropsList .button {
    bottom: 35px;
    font-size: 14px;
    width: 55%;
}

} /*END @media screen and (max-width: 675px)*/

@media screen and (max-width: 630px) {
.ch-grid li {
    height: 220px;
    width: 46%;
}

.ourCrops .ch-grid h3 {
    font-size: 24px;
}

}


@media screen and (max-width: 625px) {
/*h1{background-color: pink}*/

/*HOME*/
.homeIconHover {
    width: 65%;
}

#homeEvents h3 a {
    padding-left: 10px;
}

/*EVENTS*/
.pastEventPageDate p:last-of-type {
    font-size: 60px;
}

.secondaryPage .eventPageDate p {
    font-size: 40px;
}

.eventPageDate p:last-of-type {
    font-size: 72px;
}



} /*END @media screen and (max-width: 625px)*/



@media screen and (max-width: 595px) {
/*h1{background-color: yellow}*/

/*HEADER*/
#titleAndBurger .button, #headerIcons {
    width: 16%;
}

#titleAndBurger h1 {
    float: left;
    width: 65%;
}

h1 a {
    font-size: 82%;
}

/*HOME*/
#homeEvents h3 a {
    padding-left: 14px;
}

/*CONTACT*/
#contactText{
	float: none;
	width: 100%;
}

.contactInfo {
    float: none;
    width: 100%;
}

/*NEWSLETTER*/
#newsletterDrop .selectParent {
	padding: 0;
	float: none;
	width: 100%;
	margin: 0 0 20px;
}

.selectParent select {
    float: none;
}

#newsletterDrop h2 {
	float: none;
	width: 100%;
	margin: 15px 0 10px 0;
}

} /*END @media screen and (max-width: 625px)*/




@media screen and (max-width: 550px) {
/*h1{background-color: green}*/

/*HEADER*/
h1 a {
    font-size: 84%;
}

/*HOME*/
.homeIconHover {
    width: 73%;
}

#homeEvents h3 a {
    padding-left: 25px;
}

/*EVENTS*/
.events main .regularEventTriangle{
	display: none;
}

.events .eventPageDate .mobileEventsTriangle, .events .pastEventPageDate .mobileEventsTriangle{
	display: block;
    margin: 0;
    position: absolute;
    right: 43%;
    top: 96%;
    width: 16%;
}

.eventPageDate, .pastEventPageDate {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
}

.floatRightText {
    float: none;
    width: 100%;
}

.events .floatRightText p, .events .floatRightText h4 {
    padding-left: 0px;
}

.secondaryPage .eventPageDate p {
    font-size: 40px;
}

.eventPageDate p:last-of-type {
    font-size: 72px;
}

.ch-grid li {
    height: 300px;
    margin: 20px auto;
    text-align: center;
    width: 75%;
    float: none;
}

.ourCrops .ch-grid h3 {
    font-size: 35px;
    padding: 60px 0 30px;
}

} /*END @media screen and (max-width: 550px)*/




@media screen and (max-width: 505px) {
/*h1{background-color: orange}*/

/*HEADER*/
#titleAndBurger .button, #headerIcons {
    width: 18%;
}

#titleAndBurger h1 {
    width: 61%;
}

h1 a {
    font-size: 70%;
}

/*HOME*/
.homeIconHover {
    width: 80%;
}

#homeEvents h3 a {
    padding-left: 30px;
}

.ourCrops .ch-grid h3 {
    font-size: 32px;
    padding: 60px 0 30px;
}

/*FOOTER*/
footer .wrapper {
    width: 85%;
}

footer .wrapper .footerColumns:first-of-type{
	display: none;
}

.footerColumns {
    width: 50%;
}

} /*END @media screen and (max-width: 505px)*/




@media screen and (max-width: 475px) {
/*h1{background-color: lightblue}*/

/*HEADER*/
#titleAndBurger {
    margin: 7px auto;
}

#titleAndBurger .button, #headerIcons {
    width: 18%;
}

/*HOME*/
#home aside {
    width: 95%;
    min-height: 175px;
}

/*SECONDARY PAGE*/
.secondaryPage h2 {
    font-size: 26px;
}

.secondaryPage h3 {
    font-size: 22px;
}

.secondaryPageSubSections img {
    display: block;
    margin: 10px 0;
    width: 90%;
    float: none;
}

.whoWeAre .triangleImages, .contact .triangleImages, .theFarm .triangleImages, .thePeople .triangleImages, .partners .triangleImages, .jobs .triangleimages, .faq .triangleImages {
    margin: 0 0 5px 5px;
    width: 45%;
}

.whatWeOffer .triangleImages, .onFarmShare .triangleImages, .offFarmShare .triangleImages, .winterShare .triangleImages, .ourCrops .triangleImages{
	float: none;
	padding-top: 0;
	width: 80%;
}

.whatWeOffer .floatRightText, .onFarmShare .floatRightText, .offFarmShare .floatRightText, .winterShare .floatRightText, .ourCrops .floatRightText{
	float: none;
	width: 100%;
}

.offFarmShare h4, .offFarmShare .floatRightText p, .offFarmShare h4 a, .offFarmShare .floatRightText ul {
    padding-left: 0px;
}


/*CROPS*/
.cropsList ul li a img, #cropHoverMain > img {
    width: 95%;
}

.cropsHover h5{
    font-size: 22px;
    height: 45%;
}

.cropsList .button {
    bottom: 30px;
    font-size: 12px;
    width: 65%;
}

/*PARTNERS*/
.partners .secondaryPageSubSections {
    margin: 10px 0 65px;
}

.floatingUlList li {
    width: 100%;
    float: none;	
}

/*SIGN UP FORM*/
input[type="text"] {
    width: 90%;
}

.mobilePageSwitch{
	position: fixed;
	display: block;	
	width: 25%;
	background-color: #e53131;
	right: 0;
	bottom: 10%;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 8px 0;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	z-index: 10;
}

.ch-grid li {
    height: 275px;
}

} /*END @media screen and (max-width: 475px)*/




@media screen and (max-width: 460px) {
/*h1{background-color: red}
*/

/*HEADER*/
#titleAndBurger h1 {
    width: 50%;
}

h1 a {
    font-size: 75%;
     padding: 10px 14px 4px;
}

#titleAndBurger .button, #headerIcons {
    width: 23%;
}

#headerIcons {
    margin: 5% 0 0;
}

#titleAndBurger .button {
    margin: 2.5% 0 0 10px;
    padding: 15px 0;
}
 
/*HOME*/
#homeMainText .button {
    width: 48%;
}

.homeIconHover {
    width: 87%;
}

#homeEvents h3 a {
    padding-left: 10px;
}

#home h2 {
    margin: 75px 0 10px;
    padding: 30px 2px 0;
}

.ourCrops .ch-grid h3 {
    font-size: 28px;
    padding: 60px 0 30px;
}

/*SECONDARY PAGES*/
.heroImage {
    height: 200px;
}

} /*END @media screen and (max-width: 460px)*/




@media screen and (max-width: 395px) {
/*h1{background-color: lightgreen}*/

/*HOME*/
#homeMainText a {
    width: 50%;
}

.homeIconHover {
    width: 100%;
    min-height: 315px;
}

#homeEvents h3 a {
    padding-left: 24px;
}

/*SECONDARY PAGES*/
.secondaryPage h2 {
    font-size: 26px;
}

.secondaryPage h3 {
    font-size: 24px;
}

.whoWeAre .triangleImages, .contact .triangleImages, .theFarm .triangleImages, .thePeople .triangleImages, .partners .triangleImages, .jobs .triangleimages, .faq .triangleImages {
    margin: 5px auto;
    width: 95%;
    float: none;
}

/*CROPS*/
.cropsList ul li a img, #cropHoverMain > img {
    width: 98%;
}

.cropsList .button {
    bottom: 25px;
}

/*FOOTER*/
footer .wrapper {
    width: 97%;
}

.ch-grid li {
    height: 235px;
}

} /*END @media screen and (max-width: 395px)*/




@media screen and (max-width: 375px) {
/*body{background-color: lightgrey}*/

/*HEADER*/
#headerIcons {
    margin: 6% 0 0;
}

#titleAndBurger h1 {
    width: 47%;
}

h1 a {
    font-size: 64%;
}

#titleAndBurger .button {
    margin: 2.5% 0 0 10px;
    padding: 15px 0;
}

#titleAndBurger .button, #headerIcons {
    width: 24%;
}

/*CROPS*/
.cropsList .button {
    bottom: 55px;
    font-size: 14px;
    width: 65%;
}

.ch-grid li {
    height: 205px;
}

.ourCrops .ch-grid h3 {
    font-size: 24px;
    padding: 50px 0 15px;
}

.ch-info p {
    width: 65%;
}

} /*END @media screen and (max-width: 375px)*/




@media screen and (max-width: 330px) {
#titleAndBurger h1 {
    width: 43%;
}

h1{
	padding-top: 5px;
}

h1 a {
    font-size: 54%;
}

#titleAndBurger .button, #headerIcons {
    width: 26%;
}

.ch-info p {
    width: 65%;
}

} /*END @media screen and (max-width: 330px)*/